#main_container {
    width: 1800px;
    background-color: #333A40;
    margin: 0 auto;
    margin-top: 110px;
}

#content_table {
    width: 60%;
    background-color: #333A40;
    border-radius: 5px;
    padding-bottom: 20px;
    border: 1px solid #465259;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.content_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #465259;
    border-radius: 2px;
}

.title_text {
    float: left;
    margin: 0;
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
}

table.table_type {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 13px;
}

table.table_type thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: white;
    background-color: #333A40;
    margin: 20px 10px;
}

table.table_type tbody th {
    padding: 10px;
}

table.table_type td {
    padding: 10px;
    vertical-align: top;
}

table.table_type tr:hover {
    background-color: #49545E;
}

table.table_type .even {
    background: #fdf3f5;
}

#content_clear {
    width: 90%;
    height: 40px;
    margin: 0 auto;
}

#form_clear {
    width: 100%;
    height: 100%;
}

#btn_clear, #btn_delete {
    background: #c73a51;
    color: #fff;
    border: none;
    position: relative;
    height: 100%;
    font-size: 13px;
    padding: 0 1.5em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    float: right;
    margin-left: 10px;
}

#btn_clear:hover, #btn_delete:hover {
    background: #fff;
    color: #c73a51;
}

#btn_clear:before, #btn_clear:after, #btn_delete:before, #btn_delete:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #c73a51;
    transition: 400ms ease all;
}

#btn_clear:after, #btn_delete:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#btn_clear:hover:before, #btn_clear:hover:after, #btn_delete:hover:before, #btn_delete:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#content_insert {
    width: 60%;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #465259;
    margin: 0 auto;
}

#form_insert {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    margin-top: 20px;
}

label {
    margin: 0;
    float: left;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    height: 38px;
    font-size: 13px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    background-color: #FFFFFF;
}

#insert_input {
    width: 55%;
    height: 40px;
    line-height: 40px;
    float: left;
}

#input_id {
    display: none;
}

#input_number {
    width: 20%;
    text-align: center;
    float: left;
}

#input_model {
    float: left;
}

#insert_btn {
    width: 45%;
    float: left;
    height: 40px;
}

#btn_save {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 100%;
    font-size: 13px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    float: right;
    margin-left: 10px;
}

#btn_new {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 100%;
    font-size: 14px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    float: right;
    margin-left: 10px;
}

#btn_save:hover, #btn_new:hover {
    background: #fff;
    color: #1AAB8A;
}

#btn_save:before, #btn_save:after, #btn_new:before, #btn_new:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

#btn_save:after, #btn_new:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

#btn_save:hover:before, #btn_save:hover:after, #btn_new:hover:before, #btn_new:hover:after {
    width: 100%;
    transition: 800ms ease all;
}