<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
    <title>YM-Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base_style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main_style.css')}}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.js"></script>
</head>
<body>
    <header>
        <nav id="header_nav">
            <ul>
                <li class="active"><a href="">Dashboard</a></li>
                <li><a href="history" target="_blank">History</a></li>
                <li><a href="insert" target="_blank">Insert</a></li>
            </ul>
        </nav>
    </header>

    <div id="main_container">
        <label id="message">{{test_message}}</label>
        <div id="content_img">
            <div class="content_title">
                <label class="title_text">Image</label>
            </div>
            <img id="result_img" src="{{url_for('static', filename='image/test_image1.png')}}" />
        </div>

        <div id="sub_container">
            <div id="content_info">
                <div class="content_title">
                    <label class="title_text">Information</label>
                </div>
                <label id="result_name">Test Model : </label>
                <label id="result_len">Test Length : </label>
            </div>
            <div id="content_graph">
                <div class="content_title">
                    <label class="title_text">Graph</label>
                </div>
                <canvas id="thickness_chart" width="650" height="350"></canvas>
            </div>
        </div>
    </div>

    <footer>
        <div id="content_footer">copyrightⓒ 2022 All rights reserved by ADIA Lab. Inc.</div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function() {
            const source = new EventSource("/Detect")
            source.onmessage = function(event) {
                const data = JSON.parse(event.data)

                document.getElementById("message").textContent = data.test_message

                document.getElementById("result_img").src="/static/image/" + data.test_img + ".png"

                document.getElementById("result_name").textContent = "Test Model : " + data.test_model_name

                document.getElementById("result_len").textContent = "Test Length : " + data.test_len_str + " ~ " + data.test_len_end + "m"

                if(window.chartObj!=undefined){
                    window.chartObj.destroy()
                }
                window.chartObj = new Chart(document.getElementById("thickness_chart"),{
                    type: 'line',
                    data: {
                        labels: data.test_graph.test_thick_len,
                        datasets: [{
                            label: "두께",
                            borderColor: 'rgba(0, 0, 0, 0.5)',
                            data: data.test_graph.test_thick,
                            pointBackgroundColor: data.test_color,
                            pointBorderWidth: 2,
                            pointBorderColor: data.test_color,
                            pointStyle: 'circle',
                            pointRadius: 5,
                            pointHoverRadius: 10,
                            cubicInterpolationMode: 'monotone',
                            tension: 0.4,
                            fill: false,
                        }, {
                            borderColor: 'rgba(31, 224, 208, 0.17)',
                            backgroundColor: 'rgba(31, 224, 208, 0.17)',
                            data: [40,40,40,40,40,40,40,40,40,40,40],
                            radius: 0,
                            fill: '+1',
                        }, {
                            borderColor: 'rgba(31, 224, 208, 0.17)',
                            data: [30,30,30,30,30,30,30,30,30,30,30],
                            radius: 0,
                            fill: false,
                        }]
                    },
                    options: {
                        responsive: false,

                        scales: {
                            y: {
                                suggestedMin: 10,
                                suggestedMax: 60
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: data.test_len_str + ' ~ ' + data.test_len_end + 'm 두께 테스트 데이터',
                                font: {
                                    size: 16
                                }
                            },
                            legend: {
                                display: false
                            },
                        }
                    }
                });
            }
        });
    </script>
</body>